/* Base font sizes */
:root {
    --font-size-small: 14px;
    --font-size-medium: 16px;
    --font-size-large: 18px;
    --font-size-xlarge: 20px;
}

/* Global Styles */
body {
    font-family: Arial, sans-serif;
    font-size: var(--font-size-medium);
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 1rem;
}

main {
  display: inline-flex;
  flex-wrap: wrap;
}

nav li {
	padding:0px;
	margin-bottom:0px;
}

/* Small screens (default) */
@media (max-width: 599px) {
    body {
        font-size: var(--font-size-small);
    }
}

/* Medium screens */
@media (min-width: 600px) and (max-width: 899px) {
    body {
        font-size: var(--font-size-medium);
    }
}

/* Large screens */
@media (min-width: 900px) and (max-width: 1199px) {
    body {
        font-size: var(--font-size-large);
    }
}

/* Extra large screens */
@media (min-width: 1200px) {
    body {
        font-size: var(--font-size-xlarge);
    }
}
